@charset "utf-8";
/* 도깨비 PJ : 공통 클래스 CSS - core.css */
/* 공통 셋팅을 위한 클래스 + 웹폰트 */

/* 웹폰트 CDN */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Gugi&family=Nanum+Gothic&family=Single+Day&family=ZCOOL+KuaiLe&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
/* 
    0. 메뉴 등 일반체
    font-family: 'Noto Sans KR', sans-serif;
    1. 캐릭터 설명 제목체
    font-family: 'Gugi', cursive;
    2. 캐릭터 설명 내용체
    font-family: 'Single Day', cursive;
    3. 캐릭터 설명 한자체
    font-family: 'ZCOOL KuaiLe', cursive;
    4. 전체 공통체(메뉴 등)
    font-family: 'Nanum Gothic', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Black+And+White+Picture&family=Gasoek+One&display=swap&family=Black+Han+Sans&family=Noto+Sans+KR:wght@100..900&display=swap');

/* 폰트
  font-family: "Black And White Picture", system-ui;
  font-family: "Black Han Sans", sans-serif;
  font-family: "Gasoek One", sans-serif;
  font-family: "Libre Baskerville", serif;
*/

@font-face {
  font-family: "Gmarket Sans";
  src: url(../font/GmarketSansBold.otf);
}

/********* 공통 클래스 *********/
/* 가로스크롤 없애기 */

  
/* 스크롤 애니메이션 */
html{
    scroll-behavior: smooth;
    /* html 즉, 루트에 부드러운 스크롤 설정을 하면 클릭하여 이동시 스크롤 애니메이션이 연출됨 */
    font-size: 10px;
}

/* 전체화면 크기 */
html,body,.part{
    width: 100%;
    height: 100vh;
}


/* 임시표시타이틀 */
.temp-tit{
    position: absolute;
    font-size: 2vw;
    color: #ccc;
}

/* 컨텐츠박스 */
.cont-box{
    height: 100%;
}


/* 스크롤 디자인 클래스 */
/* -webkit-밴더사명(크롬,사파리) 접두어 */
/* 클래스명 scbar */
.scbar::-webkit-scrollbar{
  /* 전체 스크롤바 크기변경 */
  width: 7px;
}
.scbar::-webkit-scrollbar-thumb{
  /* 스크롤바 */
  background-color: #b559fb;
  border-radius: 5px;
}
.scbar::-webkit-scrollbar-track{
  /* 스크롤바 트랙 */
  background-color: #0d0d0e;
  border-radius: 5px;
}

