@charset "UTF-8";
/* 보그 PJ 공통핵심 CSS - _core.scss */
/* 웹폰트, 공용클래스 */
/*********** 1. 웹폰트 ***********/
/* Roboto체 + Noto Sans Kr체 - CDN */
@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap';
/* 
font-family: 'Roboto', "Noto Sans KR";
*/
body {
  font-family: "Roboto", "Noto Sans KR";
}

/* 공사중 표시 */
/************* 2. 공통 class *************/
/* 2-1. 중앙 속박스 */
.inbox {
  max-width: 1600px;
  margin: 0 auto;
}

.sub-tit {
  font-size: 4.2rem;
  padding-bottom: 15px;
}

.common-box {
  padding: 4rem;
}

.big-box-type figure {
  aspect-ratio: 1/2;
}
.big-box-type figure figcaption {
  translate: 0 -100%;
  padding: 5rem;
  color: #fff;
  background: linear-gradient(to top, #000, transparent);
}
.big-box-type figure figcaption h3.s-tit {
  font-size: 3.6rem;
  font-weight: normal;
}
.big-box-type figure figcaption p.date {
  display: none;
}

/* 보그 PJ 리셋 CSS - _reset.scss */
/* 요소의 초기화 */
/* 루트 글자크기 */
html {
  font-size: 10px;
}

/* 1. 마진,패딩 없애기 */
html, body, h1, h2, h3, h4, h5, h6, ul, ol, dt, dd, p, figure, figcaption {
  margin: 0;
  padding: 0;
}

/* 가로스크롤 생김 방지!(특히 모바일) */
html, body {
  overflow-x: hidden;
}

/* 2. a요소 리셋 */
a {
  color: #000;
  /* 글자색 */
  text-decoration: none;
  /* 밑줄없앰 */
}

/* 3. ul,ol 리셋 */
ul, ol {
  list-style: none;
  /* 블릿/숫자 제거 */
}

/* 4. h요소 글자크기 리셋 */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  /* html의 기본글자크기(16px)와 일치 초기화 */
}

/* 5. 이미지 리셋 */
img {
  border: none;
  /* 이미지 링크시 서버에서 볼때 파란색 자동보더 없애기 */
  vertical-align: bottom;
  /* 박스 이미지 하단간극 없애기(약4px)
  값으로 top, middle등 도 효과있음! */
}

#top-area {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2235294118);
}

.top-area {
  /* 부모자격 */
  position: relative;
  padding: 4rem;
}

.logo h1 {
  text-align: center;
}
.logo h1 img {
  height: 70px;
}

.gnb {
  margin-top: 4rem;
}
.gnb ul {
  display: flex;
  gap: 3em;
  justify-content: center;
}
.gnb ul li {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.2em;
}

@media (max-width: 1000px) {
  .logo h1 {
    text-align: left;
  }
  .gnb ul {
    justify-content: flex-start;
  }
}
.sum-menu {
  position: absolute;
  right: 4rem;
  top: 4rem;
  font-size: 1.6rem;
}
.sum-menu ol {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.sum-menu ol li:nth-child(1) a {
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.sum-menu ol li:nth-child(2) a {
  font-weight: bold;
  padding: 8px 15px;
  background-color: #000;
  color: #fff;
}
.sum-menu ol li:nth-child(3) a {
  font-size: 3em;
  font-weight: 100;
  transform: scaleX(0.7);
  display: inline-block;
}

.add-menu {
  position: absolute;
  right: 5rem;
  top: 2rem;
  font-size: 1.6rem;
}
.add-menu ol {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.add-menu ol li a {
  letter-spacing: 2px;
}
.add-menu ol li.hide {
  display: none;
}

#footer-area {
  background-color: #000;
}

.footer-area {
  /* 최소높이 */
  min-height: 298px;
  padding: 80px 0 78px;
  box-sizing: border-box;
}
.footer-area .blogo {
  text-align: center;
  margin-bottom: 10px;
}
.footer-area .blogo img {
  height: 56px;
}
.footer-area .addr {
  color: #747474;
  text-align: center;
  font-size: 11px;
  /* address 요소 기본 이탤릭해제 */
  font-style: normal;
  margin: 20px 0 10px;
}
.footer-area .blink {
  /* 플렉스박스 */
  display: flex;
  /* 진행방향정렬 : 중앙 */
  justify-content: center;
  /* 플렉스 랩핑박스 */
  flex-wrap: wrap;
  /* 사이간격 gap: 위아래 양쪽 */
  gap: 0 12px;
}
.footer-area .blink a {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
}
.footer-area .blink li:last-child a {
  font-weight: bold;
}

/* 위로가기 버튼 */
.tbtn {
  position: fixed;
  bottom: -35px; /* 아랫쪽에 나가있음 */
  right: 75px;
  width: 48px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  background-color: #333;
  border-radius: 4px 4px 0 0;
  color: #fff;
  z-index: 9999;
  font-size: 12px;
  opacity: 0; /* 처음에 투명 */
  /* 트랜지션 - bottom엔 적용되면 안되므로 별도지정함 */
  transition: background-color 0.3s, opacity 0.3s;
}
.tbtn.on {
  opacity: 1;
  bottom: 0;
}
.tbtn:hover {
  background-color: red;
}

/* 컨텐츠 영역 속박스 */
.main-area {
  min-height: 700px;
  padding: 15px;
  padding-bottom: 100px;
}

/* 전체부모박스 */
#cartlist {
  position: relative;
  margin: 0 auto;
  width: min(90vw, 1000px);
  background-color: rgba(255, 255, 255, 0.8);
}

/* 닫기버튼 */
#cartlist .cbtn {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 40px;
  height: 39px;
  background: url(../../public/images/mv_btns.png) no-repeat;
  background-position: -129px -342px;
  transition: transform 0.3s;
}

#cartlist .cbtn span {
  display: none;
}

#cartlist table {
  width: 90%;
  margin: 50px auto;
  font-size: 14px;
  border-top: 2px solid rgb(34, 34, 34);
  border-bottom: 2px solid rgb(34, 34, 34);
  border-collapse: collapse;
}

#cartlist caption {
  padding: 20px 0px;
  -webkit-text-decoration: underline wavy;
          text-decoration: underline wavy;
  font-size: 30px;
}

#cartlist th {
  padding: 15px 0px;
  background-color: rgb(229, 229, 229);
  font-size: 16px;
}

#cartlist td {
  padding: 10px 0px;
  border-top: 1px solid rgb(85, 85, 85);
  text-align: center;
}

#cartlist td img {
  width: 50px;
}

/* 카트버튼 이미지 */
#mycart {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999999;
  cursor: pointer;
  display: none;
}

/* 카트박스 사이드 이동상태 */
#mycart.on {
  position: fixed;
  top: 50%;
  left: calc(100% - 70px);
  transform: translate(0, -50%);
  background-color: lightblue;
  border-radius: 10px 0 0 10px;
  padding: 10px;
  transition: 0.4s ease-in 2s;
}

/* 원본 이미지 크기 */
#mycart img {
  width: 370px;
}

/* 변경 이미지 크기 */
#mycart.on img {
  width: 50px;
  transition: 0.4s ease-in 2s;
}

/* 개수 표시박스 */
#mycart .cntBx {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: blue;
  opacity: 0;
}

#mycart.on .cntBx {
  opacity: 1;
  transition: 0.4s 3s;
}

/* 수량증감 박스 */
.cnt-part span,
.cnt-part > div {
  display: flex;
}

/* 입력창 */
.item-cnt {
  width: 20px;
}

/* 증감 이미지버튼 */
#cartlist .btn-cnt img {
  display: block;
  width: 18px;
}

/* 반영 버튼 */
.btn-insert {
  position: absolute;
  margin-left: 43px;
  white-space: nowrap;
  padding: 0;
  display: none;
}

/* 취소 버튼 */
.btn-cancel {
  position: absolute;
  margin-left: 74px;
  white-space: nowrap;
  padding: 0;
  display: none;
}

/* 입력창에 포커스 갈때 다음형제요소 반영버튼 보이기 */
.item-cnt:focus + .btn-insert {
  /* outline: 10px dotted red; */
  width: 34px;
  transition: none;
  /* display: inline-block; */
}

/* 페이징 파트 */
.paging {
  text-align: center;
  padding: 20px 0;
}

.paging a,
.paging b {
  color: #222;
  text-decoration: none;
  font-size: 20px;
}/*# sourceMappingURL=cart_list.css.map */