
// 메인 이미지 맵핑 정보
$mainBgImage : (
    bg1:url(../images/cont1a.jpg),
    bg2:url(../images/cont2-1.jpg),
    bg3:url(../images/cont2-2.jpeg),
    bg4:url(../images/cont2-3.jpg),
    bg5:url(../images/cont3a.jpg),
    bg6:url(../images/cont4-1.jpg),
    bg7:url(../images/cont4-2.jpg),
    bg8:url(../images/cont4-3.jpg),
    bg9:url(../images/cont5a.jpg),
    bg10:url(../images/cont6-1.png),
    bg11:url(../images/cont6-2.jpg),
    bg12:url(../images/cont6-3.png),
    bg13:url(../images/cont7-1.jpg),
    bg14:url(../images/cont7-2.jpg),
    bg15:url(../images/cont7-3.jpg),
    );