@charset "utf-8";
/* 도깨비 PJ : 메인페이지 CSS - main.css */

/* 리셋, 코아, 커먼 공통 외부CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);
/* 그리드 12 불러오기 */
@import url(./grid_12_flex.css);

/* 공사중 표시 */
body * {
    /* outline: 2px dashed #ccc; */
}

/**************** 3. 인트로영역 ****************/
.intro-area{
    height: 575px;
}
/*********** 방송편성소개파트 : .intro-part ***********/
.main .intro-part .partbox {
    height: 455px;
    padding: 10px;
}
/* 서브타이틀 */
.intro-part .stit{
    padding-bottom: 0;
}
/* 하위제목+아이콘 박스 */
.intro-desc{
    display: flex;
    flex-wrap: wrap;
    font-size: 2.5rem;
}
.intro-desc h3{
    margin-right: 10px;
}
.intro-desc ul{
    display: flex;
    gap: 0 15px;
}
/* 설명박스 */
.intro-txt{
    padding: 20px;
    font-size: 2.2rem;
    line-height: 2;
    color: #555;
}
/* 인트로버튼 */
.intro-btn{
    padding: 20px 50px;
    border-radius: 10px;
    font-size: 1.8rem;
    background-color: transparent;
    border: 1px solid #000;
    font-weight: bold;
}

/* 인트로 동영상 박스 */
.intro-mv-img{
    position: relative;
    /* 부모자격 */
    aspect-ratio: 2/1.1;
}
/* 가상요소로 플레이버튼 만들기
-> .off를 준 경우에만 가상요소 버튼보임
따라서 비디오태그 넣을 경우 .off 지울것! */
.intro-mv-img.off::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 72px;
    height: 72px;
    background: url(../images/icon_play.png) no-repeat;
    cursor: pointer;
}

/* 하위 이미지/동영상 */
.intro-mv-img img,
.intro-mv-img video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
/* 동영상 설명박스 */
.intro-mv-box figcaption{
    font-size: 2rem;
    padding-top: 10px;
}

/************** 4. 미리보기영역 **************/
.preview-area{
    height: 803px;
}
/************** 5. 현장포토영역 **************/
.real-photo-area{
    height: 1043px;
}
/************** 6. 대표이미지 영역 **************/
.main-photo-area{
    height: 731px;
}
/************** 7. 최신동영상영역 **************/
.clip-video-area{
    height: 548px;
}

