@charset "utf-8";
/* 도깨비 PJ : 메인페이지 CSS - main.css */

/* 리셋, 코아, 커먼 공통 외부CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);
/* 그리드 12 불러오기 */
@import url(./grid_12_flex.css);

/* 드래그 슬라이드 CSS불러오기 */
/* @import url(./drag_slide.css); */

/* 공사중 표시 */
body * {
    /* outline: 2px dashed #ccc; */
}
/* 메인파트 전체박스 */
.main-area {
    padding-top: 80px;
    padding-bottom: 60px;
}
/* 메인파트 직계하위박스(겉박스) div 두번째부터
패딩탑 위아래 간격주기 */
.main-area>div+div{
    padding-top: 60px;
}
/**************** 3. 인트로영역 ****************/
.intro-area{
    /* height: 575px; */
}
/*********** 방송편성소개파트 : .intro-part ***********/
.main .intro-part .partbox {
    height: 455px;
    padding: 10px;
}
/* 서브타이틀 */
.intro-part .stit{
    padding-bottom: 0;
}
/* 하위제목+아이콘 박스 */
.intro-desc{
    display: flex;
    flex-wrap: wrap;
    font-size: 2.5rem;
}
.intro-desc h3{
    margin-right: 10px;
}
.intro-desc ul{
    display: flex;
    gap: 0 15px;
}
/* 설명박스 */
.intro-txt{
    padding: 20px;
    font-size: 2.2rem;
    line-height: 2;
    color: #555;
}
/* 인트로버튼 */
.intro-btn{
    padding: 20px 50px;
    border-radius: 10px;
    font-size: 1.8rem;
    background-color: transparent;
    border: 1px solid #000;
    font-weight: bold;
}

/* 인트로 동영상 박스 */
.intro-mv-img{
    position: relative;
    /* 부모자격 */
    aspect-ratio: 2/1.1;
}
/* 가상요소로 플레이버튼 만들기
-> .off를 준 경우에만 가상요소 버튼보임
따라서 비디오태그 넣을 경우 .off 지울것! */
.intro-mv-img.off::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 72px;
    height: 72px;
    background: url(../images/icon_play.png) no-repeat;
    cursor: pointer;
}

/* 하위 이미지/동영상 */
.intro-mv-img img,
.intro-mv-img video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
/* 동영상 설명박스 */
.intro-mv-box figcaption{
    font-size: 2rem;
    padding-top: 10px;
}

/************** 4. 미리보기영역 **************/
.preview-area{
    /* height: 803px; 
    -> 높이값을 지정하면 내용만큼 자동으로
    높이값이 잡히지 않아서 매번 크기에 따라
    값을 셋팅해야하므로 auto로 두자!
    */
}
.preview-box ul {
    gap: 20px;
}
/* 리스트박스 */
.preview-box li {
    /* 한줄에 4개 플렉스 배치 - gap값 고려해서뺌 */
    flex-basis: calc(100% / 4 - 15px);
    padding: 24px 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 10px #22222240;
    box-sizing: border-box;
}
/* 리스트 타이틀 */
.preview-box li h3 {
    font-size: 2rem;
    color: #000;
    font-weight: normal;
}
/* 리스트 내용 */
.preview-box li p {
    font-size: 1.5rem;
    margin-top: 1.4rem;
    color: #00000099;
    line-height: 1.7;

    /* 여러줄 말줄임표시 셋팅하기 */
    display: -webkit-box;
    overflow: hidden;
    /* 말줄임표시 */
    text-overflow: ellipsis;
    /* 보여줄 라인수 셋팅속성 */
    -webkit-line-clamp: 7;
    /* 라인진행방향 셋팅 */
    -webkit-box-orient: vertical;
}
/* 리스트박스 오버시 내용글자색 */
.preview-box li:hover p {
    color: #000;
}

/************** 5. 현장포토영역 **************/
.real-photo-area{
    /* height: 1043px; */
}
/* 현장포토 그리드박스 */
.live-box ul {
    display: grid;
    /* 4개 컬럼 동일비율 셋팅 */
    grid-template-columns: repeat(4, 1fr);
    /* 사이간격 */
    gap: min(20px,1.2vw);

}
/* 현장포토 리스트 */
.live-box li{
    cursor: pointer;
}
/* 이미지 */
.live-box img{
    border-radius: 6px;
    width: 100%;
}
/* 이미지 타이틀 */
.live-box figcaption{
    font-size: 2rem;
    padding-top: 1.4rem;
}
/************** 6. 대표이미지 영역 **************/
.main-photo-area{
    /* height: 731px; */
}
/* 대표이미지 그리드박스 */
.poster-box ul {
    display: grid;
    /* 4개 컬럼 동일비율 셋팅 */
    grid-template-columns: repeat(4, 1fr);
    /* 사이간격 */
    gap: min(20px,1.2vw);

}
/* 대표이미지 리스트 */
.poster-box li{
    cursor: pointer;
}
/* 대표이미지 리스트 grid-row셋팅하기
-> 2줄로 세팅하려면 줄번호가 3번이 끝번호임! */
/* 1번 */
.poster-box li:nth-child(1){
    grid-row: 1/2;
}
/* 2번째부터 4번째까지 선택 */
.poster-box li:nth-child(1) ~ li:nth-child(-n+4){
    grid-row: 1/3;
}
/* 다음줄 첫번째 li가 윗줄로 올라옴! */
.poster-box li:nth-child(5){
    grid-row: 2/3;
}

/* 이미지 */
.poster-box img{
    border-radius: 6px;
    width: 100%;
}
/* 이미지 타이틀 */
.poster-box figcaption{
    font-size: 2rem;
    padding-top: 1.4rem;
}
/************** 7. 최신동영상영역 **************/
.clip-video-area{
    position: relative;
    /* 부모자격 - 이동버튼의 부모 */
}
.clip-box ul {
    position: relative;
    left: 0;/* 이동초기값 */
    display: flex;
    /* gap: 0 2%; */
    /* 트랜지션 */
    transition: left .3s ease-out;
    user-select: none;
    -webkit-user-drag: none;
}

.clip-box li {    
    flex-basis: 25%;
    flex-shrink: 0;
    /* 플렉스 gap 속성대신 패딩으로 처리!
    이유는? 드래그시 영역아웃현상때문! */
    padding: 0 1.1%;
    box-sizing: border-box;
}

/* 동영상 이미지박스 */
.clip-mv-box {
    position: relative;
    /* 부모자격 */
}
/* 동영상 이미지박스 이미지 */
.clip-mv-box img {
    width: 100%;
    border-radius: 6px;
    user-select: none;
    -webkit-user-drag: none;
}
/* 동영상 이미지박스 가상요소로 플레이버튼 */
.clip-mv-box::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 62px;
    height: 62px;
    background: url(../images/icon_play.png) no-repeat 0/100%;
    cursor: pointer;
}

.clip-box h4 {
    font-size: 18px;
    font-weight: normal;

    /* 2줄 말줄임 셋팅 */
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    user-select: none;
    -webkit-user-drag: none;
}

.clip-box h3 {
    font-size: 15px;
    font-weight: normal;
    color: #555;
    user-select: none;
    -webkit-user-drag: none;
}

.clip-box {
    overflow: hidden;
}


/* 양쪽버튼만들기 */
.btn-box button{
    position: absolute;
    z-index: 999;
    top: 43%;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 65px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    border: none;
    background-color: rgba(0, 0, 0, 0.6); 
    cursor: pointer;
}
/* 왼쪽버튼 */
.btn-box button:first-child{
    left: 0;
}
/* 오른쪽버튼 */
.btn-box button:last-child{
    right: 0;
}
/* 클래스를 추가하여 한쪽버튼만 안보이게 처리 */
/* 왼쪽버튼만 보이기 */
.btn-box.left button:first-child{
    display: inline-block;
}
.btn-box.left button:last-child{
    display: none;
}
/* 오른쪽버튼만 보이기 */
.btn-box.right button:last-child{
    display: inline-block;
}
.btn-box.right button:first-child{
    display: none;
}


/* 서브 컨텐츠 박스 */
.sub-cont{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    color: #fff;
    z-index: 999999;
    overflow: hidden;
    display: none;
}
.sub-cont a{
    color: #fff;
}
/* 닫기버튼 */
.cbtn{
    position: absolute;
    top: 5%;
    right: 5%;

    background: none;
    border: none;
    font-size: 80px;
    color: #fff;
    cursor: pointer;
}
/* 서브 내부박스 */
.sub-inbox{
    outline: 2px dashed yellow;
    min-height: 100vh;
}
/* 제목박스 */
.sub-inbox h1{
    font-size: 4rem;
    text-align: center;
    padding-top: 5vw;
}
/* 내용박스 */
.sub-item{
    font-size: 3rem;
    padding: 7vw;
}