@charset "utf-8";
/* 도깨비 PJ : 메인페이지 CSS - main.css */

/* 리셋, 코아, 커먼 공통 외부CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);
/* 그리드 12 불러오기 */
@import url(./grid_12_flex.css);

/* 공사중 표시 */
body * {
    outline: 2px dashed #ccc;
}

/* 3. 인트로영역 */
.intro-area{
    height: 575px;
}
/* 4. 미리보기영역 */
.preview-area{
    height: 803px;
}
/* 5. 현장포토영역 */
.real-photo-area{
    height: 1043px;
}
/* 6. 대표이미지 영역 */
.main-photo-area{
    height: 731px;
}
/* 7. 최신동영상영역 */
.clip-video-area{
    height: 548px;
}

