@charset "utf-8";

/* 도깨비 PJ : 리셋 CSS - reset.css */
/* 기본 초기화 셋팅 */

/* 기본 초기화 */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dt,
dd,
p,
figure,
figcaption {
    margin: 0;
    padding: 0;
}

/* ul,ol 순번,블릿없앰 */
ul,ol{
    list-style: none;
}

/* a요소 리셋 */
a{
    color: #222;
    text-decoration: none;
}

/* heading 요소 글자크기 */
h1,h2,h3,h4,h5,h6{
    font-size: 100%;
    /* 박스 디자인시 글자크기로 인한
    영향을 없애기 위한 초기화! */
}

/* 이미지 초기화 */
img {
    /* 이미지 링크시 서버에서 볼때
    파란 테두리 없앰 */
    border: none;
    /* 박스에 이미지만 넣을때
    엔터간극 4px 하단공백 없애기  */
    vertical-align: middle;
}