@charset "utf-8";
/* 01.공유신발 CSS - gong.css */

/* 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

/* 변수 */
:root {
  /* 가로 리스트개수 */
  --show-num: 5;
}

body {
  overflow-y: scroll;
  /* 스크롤이 없어도 스크롤바 트랙이 나와 있어서
    새로 스크롤바 트랙 생성시 화면이 약간 옆으로 움직이는
    문제를 막아준다! */
}
/* 대상박스 */
#root {
  max-width: 1200px;
  padding: 20px;
  border: 1px dashed darkblue;
  border-radius: 20px;
  margin: 0 auto;
  text-align: center;
}
/* 제목 */
.tit {
  color: lightblue;
  font-size: min(50px,5vw);
  -webkit-text-stroke: 0.1px #000;
  font-family: "Single Day", cursive;
}
/* 내용박스 */
#root section {
  border: 4px double gray;
  padding: 2vw;
}
/* 내용박스 이미지 */
#root section img {
  /* max-width: 100%;
  max-height: 70vh; */
  height: 60vmin;
  border-radius: 20px;
}
/* 버튼박스 */
.btn-box {
  padding: 15px;
}
.btn-box button {
  font-size: 20px;
}

/* 상품리스트박스 */
.gwrap ul {
  display: flex;
  /* 하위 ol박스를 옆으로 흐르게함 */
  justify-content: center;
  flex-wrap: wrap;

  gap: 10px 20px; /* 상하 좌우 사이간격 */

  list-style: none;
  padding: 0;
  padding-top: 20px;
  margin: 0;
}
/* 상품리스트 비율셋팅 */
.gwrap ul > li {
  flex-basis: calc(100% / var(--show-num) - 20px);
}
/* 리스트 하위 링크 */
.gwrap a {
  color: #222;
  text-decoration: none;
  background-color: #fff;
  transition: 0.4s;
}
.gwrap a:hover {
  transform: scale(1.2);
}
/* 개별리스트박스 */
.glist {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* 상품이미지 */
.glist img {
  width: 100%;
}

/* 미디어쿼리 */
@media screen and (max-width: 1000px) {
  :root {
    --show-num: 4;
  }
}
@media screen and (max-width: 700px) {
  :root {
    --show-num: 3;
  }
}
@media screen and (max-width: 600px) {
  :root {
    --show-num: 2;
  }
}
@media screen and (max-width: 500px) {
  :root {
    --show-num: 1;
  }
}
