// 변수 셋팅하기 ///////
$mainColor1: #d10000;
$mainColor1-2: #ff5656;
$mainColor2: #005ed1;
$mainColor2-2: #7bb6ff;

// 글자색
$fontColor1: aqua;

// 글자크기
$fontSize1: 40px;
$fontSize2: 35px;
$fontSize3: 30px;