/* 보그 PJ 공통 CSS - common.css */
/* 상단, 하단 공통 모듈 CSS */

/****************** 1.상단영역 ******************/


/****************** 2.메인영역 ******************/


/****************** 3.하단영역 ******************/

