// 서브 아이템 페이지 CSS

// 공통 부분파일 불러오기
// 부분 사스파일도 언더바를 생략하여 부를 수 있다
// 확장자가 scss/sass 가 기본이므로 생략함!
@import "./common/reset";
@import "./common/core";
@import "./common/common";

/********* 2-1. 카테고리 페이지 상단영역 *********/
/* 2-1-1.서브타이틀 */
.cat-tit {
  font-family: pist;
  font-weight: normal;
  font-size: 50px;
  text-align: center;
  padding: 40px 0 20px;
}

/* 2-1-2.서브메뉴(LNB:Local Navigation Bar) */
.lnb {
  padding: 5px 0 50px;
}
.lnb ul {
  /* 플렉스박스 */
  display: flex;
  /* 플렉스중앙정렬 */
  justify-content: center;
  /* 사이간격 */
  gap: 0 20px;
}
.lnb a {
  font-family: nbg;
  font-size: 18px;
  color: #333;
  /* 트랜지션 */
  transition: color 0.5s;
}
/* 첫번째메뉴 + 오버시 빨간색 글자 */
.lnb li:first-child a,
.lnb a:hover {
  color: red;
}

/********* 2-2. 카테고리 페이지 컨텐츠영역 *********/

// 믹스인으로 반복코드 리턴하여 사용하기 /////
// @mixin 믹스인이름 (전달변수) {반복할 코드}
// 믹스인의 전달변수를 값파트에 단일값을 쓰는것은 문제없음
// 그러나 속성명 또는 선택자 파트 또는 복합적인 값에 변수를 쓰려면
// 사스용 보간법을 사용해야함! -> #{변수}
@mixin make-bgi($itemName) {
  .#{$itemName} .bg1-1 {
    background-image: url(../images/#{$itemName}/cont1-1a.jpg);
  }
  .#{$itemName} .bg1-2 {
    background-image: url(../images/#{$itemName}/cont1-2a.jpg);
  }
  .#{$itemName} .bg1-3 {
    background-image: url(../images/#{$itemName}/cont1-3a.jpg);
  }
  .#{$itemName} .bg2-1 {
    background-image: url(../images/#{$itemName}/cont2-1a.jpg);
  }
  .#{$itemName} .bg2-2 {
    background-image: url(../images/#{$itemName}/cont2-2a.jpg);
  }
  .#{$itemName} .bg2-3 {
    background-image: url(../images/#{$itemName}/cont2-3a.jpg);
  }
}

// 믹스인을 호출하여 동일한 패턴의 코드를 생성해준다!
/******************** fashion ********************/
@include make-bgi("fashion");
/******************** beauty ********************/
@include make-bgi("beauty");
/******************** living ********************/
@include make-bgi("living");
/******************** people ********************/
@include make-bgi("people");
/******************** video ********************/
@include make-bgi("video");
/******************** runway ********************/
@include make-bgi("runway"); 
/******************** shopping ********************/
@include make-bgi("shopping");
/******************** time-gem ********************/
@include make-bgi("time-gem");

