// 보그 JS 메인 페이지 SCSS

// 공통 부분파일 불러오기
// 부분 사스파일도 언더바를 생략하여 부를 수 있다
// 확장자가 scss/sass 가 기본이므로 생략함!
@import "./common/reset";
@import "./common/core";
@import "./common/common";

// 메인페이지용 CSS

/* 개별배경이미지 */
/* 1번 - 1개 */
.bg1 {
  background-image: url(../images/cont1a.jpg);
}
/* 2번 - 3개 */
.bg2 {
  background-image: url(../images/cont2-1.jpg);
}
.bg3 {
  background-image: url(../images/cont2-2.jpeg);
}
.bg4 {
  background-image: url(../images/cont2-3.jpg);
}
/* 3번 - 1개 */
.bg5 {
  background-image: url(../images/cont3a.jpg);
}
/* 4번 - 3개 */
.bg6 {
  background-image: url(../images/cont4-1.jpg);
}
.bg7 {
  background-image: url(../images/cont4-2.jpg);
}
.bg8 {
  background-image: url(../images/cont4-3.jpg);
}
/* 5번 - 1개 */
.bg9 {
  background-image: url(../images/cont5a.jpg);
}
/* 6번 - 3개 */
.bg10 {
  background-image: url(../images/cont6-1.png);
}
.bg11 {
  background-image: url(../images/cont6-2.jpg);
}
.bg12 {
  background-image: url(../images/cont6-3.png);
}
/* 7번 - 3개 */
.bg13 {
  background-image: url(../images/cont7-1.jpg);
}
.bg14 {
  background-image: url(../images/cont7-2.jpg);
}
.bg15 {
  background-image: url(../images/cont7-3.jpg);
}

// 스크롤 등장 클래스
.hide-el {
  opacity: 0;
  translate: 0 20%;
  transition: 0.6s ease-in-out;

  // 클래스on적용시 등장
  &.on {
    opacity: 1;
    translate: 0 0;
  }
}


// 메인 페이지 미디어쿼리 불러오기 ///
@import "../css/media/main-media";