@charset "utf-8";
/* 맨위에 utf-8 인코딩 설정 필수!
- 외부CSS파일은 파일 자체적으로 처리되므로
인코딩형식도 따로 지정해야한다! */

/* Info PJ 서브페이지용 CSS - sub.css */

/* 공통 외부CSS 불러오기 */
@import url(./common.css);
/* 
    @import 방식으로 외부파일 불러와서 합치면
    html 파일에서 link방식으로 불러올 필요가 없다!
    이것의 잇점은 웹요청(http request)이 줄어들어
    html의 랜더링 속도가 향상된다!
*/

/* 서브 페이지 글씨체 지정하기 */
#main-area{
    font-family: "Noto Sans KR", sans-serif; 
}

/* 서브페이지 타이틀 */
h2.sub-title{
    /* 글자색 : color (c) */
    /* color: #0c9f27; */
    /* color: #08b10ba0;
    color: rgb(8 177 11 / 0.626);
    color: rgba(8,177,11,0.626); */

    /* 글자크기 : font-size (fz) */
    font-size: 38px;

    /* 글자두께 : font-weight (fw) */
    font-weight: normal;
    /* font-weight: bold; *//* fwb */

    /* 글자체 : font-family
    - 콤마로 구분된 글자체는 대체체임
    앞의 글자체가 없으면 뒤의 글자체가 적용됨. 만약 모두 없으면 브라우저 기본체가 적용됨! */
    /* font-family: '맑은 고딕','궁서','글림','돋음'; */
    font-family: 'Bagel Fat One', system-ui;

    /* 텍스트 정렬 - text-align:center (tac:중앙정렬) */
    text-align: center;

    /* 글자 그림자 : text-shadow */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);

    /* 박스 테두리 - border:두께 종류 색상 (bd) 
        - 두께 : 선두께
        - 종류 : 선종류(solid실선,dotted점선,dashed데쉬선 등)
        - 색상 : 테두리색상
    */
    border: 2px solid darkorchid;

    /* 둥근모서리 - border-radius (brad) */
    border-radius: 20px;

    /* 패딩 - p */
    padding: 20px;

    /* 배경색 : background-color (bgc) */
    background-color: #fff;

    /* 배경이미지 : bgi -> 개별적으로줌! */
    /* background-image: url(../images/titbg4.jpg); */

    /* 배경반복여부 */
    background-repeat: no-repeat;

    /* 배경고정 */

    /* 배경위치 
    background-position(bgp) */
    background-position: center;

    /* 배경크기 
    background-size (bgz)
    - cover 는 박스를 빈틈없이 비율유지하여 채움! */
    background-size: cover;

    /* 외부CSS에서 이미지 경로 주의!!!
    html파일이 아닌 CSS파일 위치에서 상대경로를
    잡아야 이미지가 나온다!!! */


    
}
/* 정치 */
.politics{
    /* 글자색 */
    color: #fde162;
    /* 배경이미지 : bgi -> 개별적으로줌! */
    background-image: url(../images/titbg1.jpg);

}
/* 경제 */
.economics{
    /* 글자색 */
    color: #feab48;
    /* 배경이미지 : bgi -> 개별적으로줌! */
    background-image: url(../images/titbg2.jpg);

}
/* 사회 */
.social{
    /* 글자색 */
    color: #fa8cf1;
    /* 배경이미지 : bgi -> 개별적으로줌! */
    background-image: url(../images/titbg3.jpg);

}
/* IT/과학 */
.it{
    /* 글자색 */
    color: #2874ff;
    /* 배경이미지 : bgi -> 개별적으로줌! */
    background-image: url(../images/titbg4.jpg);

}
/* TV/연예 */
.tv{
    /* 글자색 */
    color: #49ffea;
    /* 배경이미지 : bgi -> 개별적으로줌! */
    background-image: url(../images/titbg5.jpg);

}

/* 언론사 로고 */
.press-logo img{
    height: 32px;
    /* 이미지는 가로/세로중
    하나만 주면 비율을 유지하여
    변경된다! */
}

/* 기사 타이틀 */
.article-title{
    font-size: 30px;
    color: #111;
}

/* 기사 이미지박스 */
.article-picture{
    margin: 20px 0;
}
/* 기사 이미지 */
.article-picture img{
    width: 100%;
    padding-bottom: 15px;
}
/* 기사 이미지 설명 */
.article-picture figcaption{
    /* tac - 글자중앙정렬 */
    text-align: center;
    padding: 0 5px;
}
/* 기사 이미지 설명 글자크기변경 */
.article-picture figcaption small{
    font-size: 15px;
    /* small에 글자크기가 지정되어 있으므로
    여기에서 글자크기를 변경해야 반영된다! */
}

/* 기사내용 */
.contents p{
    /* 글자크기 : fz */
    font-size: 18px;
    /* 줄간격 : lh 
        line-height 줄간격은 글자의 중앙에서
        위아래 높이값을 말하며 글자는 중앙에 흐른다.
        단위는 없을 경우 글자크기의 배수로 셋팅됨
    */
    line-height: 1.7;
    /* 글자색 */
    color: #333;
}

/* 인라인 인용구 디자인 변경 */
.contents q{
    font-weight: bold;
}

/* mark요소 디자인 변경 */
.contents mark{
    display: block;
    /* 크기요소는 인라인일때 적용안됨! */
    width: 65%;
    /* 크기를 가진 블록요소 중앙정렬
    - 마영오! margin: 0 auto */
    margin: 15px auto;
    /* 글자중앙정렬 : tac */
    text-align: center;

    /* 박스디자인 변경 */
    padding: 20px 50px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;

    /* 배경색 */
    background-color: #e9e9e9;
    /* 글자색 */
    color: darkorange;
    /* 글자체 : 웹폰트 */
    font-family: 'Diphylleia', serif;
    font-weight: bold;
}

/* 구분박스 공통 */
.bd-box{
    border-top: 2px dashed #ccc;
    border-bottom: 2px dashed #ccc;
    margin: 20px 0;
    padding: 15px 0;
}
/* 구분박스 제목 */
.bd-box h4{
    /* 기본 display가 block 이어서
    글씨만큼 크기를 가지려면 inline-block로 바꿔야한다! */
    display: inline-block;
    font-size: 20px;
    border: 1px solid #454545;
    border-radius: 30px;
    /* width: 250px; */
    text-align: center;
    padding: 15px;
    /* 박스 그림자 
        box-shadow: x축 y축 blur spread 색
        1.x축 - 가로축 이동
        2.y축 - 세로축 이동
        3.blur - 경계선 흐림
        4.spread - 그림자 기존크기 보다 더한크기
        5.색 - 그림자 색
        ->> 내부 그림자일 경우 inset 키워드를 앞에씀
        box-shadow: inset x축 y축 blur spread 색
        ->> spread는 필요시에 작성함
    */
    /* box-shadow: 4px 4px 5px 10px #888; */
    box-shadow: inset 0 0 20px #888;

    /* 기본마진없앰 */
    margin: 0;
}
/* 블록인용박스 */
.quote-box blockquote{
    /* 기본마진 없애기 */
    margin: 0;
    font-size: 15px;
    line-height: 2.1;
    /* 양쪽정렬 : taj */
    text-align: justify;
    /* 자식요소인 이미지에 float 속성을 사용할 경우
    부모박스에서 자식요소를 인식하지 못하는 경우가 발생함
    이것을 해결하기 위한 한가지 방법으로 넘치는 요소 숨기기
    속성을 셋팅하면 된다! */
    overflow: hidden;/* oh */

    /* 넘치는 자식요소 숨기는 설정때문에
    그림자가 잘리므로 이를 패딩으로 처리함 */
    padding: 5px;
    padding-left: 0;
}
/* 블록인용 이미지 */
.quote-box img{
    /* 기본적으로 이미지는 인라인요소이며
    글자가 왼쪽으로 한줄 하단에 나열됨
    글자가 옆에 올라와서 흘러가게 하려면
    float속성을 사용해야한다!
        float: left 이미지는 왼쪽에 글자는 오른쪽
        float: right 이미지는 오른쪽에 글자는 왼쪽
    */
    float: right;
    /* 이미지 옆에 공간주기 */
    margin-left: 10px;
    /* 상단여백으로 이미지 이동 */
    margin-top: 11px;
    /* 둥근모서리 */
    border-radius: 10px;
    /* 박스그림자 */
    box-shadow: 0 0 4px #555;
}

/* 동영상 박스 : 유튜브 iframe */
.mvbox {
    /* 비율유지 박스 설정
        aspect-ratio : 가로비/세로비 
        -> 주의: 가로 세로가 유동적이므로
        특정값을 셋팅하지 말것!
    */
    aspect-ratio: 16/9;
    /* height: 250px; */
    /* 
        div와 같은 block요소는
        width 설정을 하지 않으면
        width: auto 로 자동설정됨!        
    */
}
/* 아이프레임 */
.mvbox iframe{
    border: none;/* bdn */
    width: 100%;
    height: 100%;
}

/* 기사원문 */
.article-link{
    text-align: right;
}
/* 기사원문 a요소 */
.article-link a {
    /* 부모박스 인라인 정렬도 적용되고
    크기 디자인도 적용되는 display는? inline-block */
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid darkcyan;
    border-radius: 50%;/* 정원 */
    /* 글자가로 중앙 */
    text-align: center;
    /* 줄간격을 높이값과 같이 주면 세로중앙됨! */
    line-height: 100px;
    font-size: 20px;
    
    /* a요소 기본 글자색변경, 밑줄없앰 */
    color: #222;
    text-decoration: none;
    
    /* 배경색 */
    background-color: #ccc;
}

/* 기사원문 a요소 마우스 오버시 */
.article-link a:hover {
    color: hotpink;
    background-color: aquamarine;
    box-shadow: 0 0 10px 5px darkblue;
    /* box-shadow: x y blur (spread) color; */
}

/* 오늘의 작품 & 느낌 */
.work{
    /* 글자크기, 글자정렬은 자식요소로 상속됨 */
    text-align: center;
    /* 그라데이션 
        [ 선형 그라데이션 : linear-gradient ]
        linear-gradient(방향,색1,색2,...);
        linear-gradient(방향,색1 몇%,색2 몇%,...);
        linear-gradient(각도,색1 몇%,색2 몇%,...);
        - 옵션 : 
        1. 방향: to top, to bottom, to left, to right
        2. 각도: 각도deg
        3. 콤마로 나열된 색상 뒤에 %수치를 쓰면 비율조정가능
    */
    background-image: linear-gradient(to right,red,blue,yellow);
}
/* 작품 타이틀 */
.work h4{
    font-family: "Black And White Picture", system-ui;
    font-weight: normal;
    font-size: 28px;
    color: #333;

}


