@charset "utf-8";

/* Robot PJ 메인 CSS - robot.css */

/* 웹폰트 CDN */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Black+Ops+One&family=Chakra+Petch&family=Orbitron:wght@500&display=swap');

/* 
    font-family: 'Barlow', sans-serif;
    font-family: 'Black Ops One', cursive;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Orbitron', sans-serif;
*/


/* 초기화 : 마진0,패딩0 */
html,body,h1,h2,h3,ul,ol{
    margin: 0;
    padding: 0;
}
/* 전체 배경이미지 */
body{
    background: url(../images/bg.jpg) no-repeat fixed top/cover;
}

/* 공사중 표시 */
body * {
    outline: 2px dashed yellow;
}

/**************** 공통 클래스 ****************/
/* 메탈배경 클래스 */
.metal1{
    background: url(../images/metal01.jpg) no-repeat center/cover;
}
.metal2{
    background: url(../images/metal02.jpg) no-repeat center/cover;
}

/**************** 1.상단영역 ****************/


/**************** 2.메인영역 ****************/
/* 2-1.로봇박스 */
.robot-box{

}
/* 2-1-1.로봇머리 */
.head{
    position: relative;
    /* 부모자격 - .eye의 부모 */
    width: 250px;
    height: 250px;
    /*  특정크기를 가지는 블록요소를
    가로중앙으로 이동하기 - 마영오~! */
    margin: 0 auto;

    /* 모서리 라운드처리
    왼쪽위부터 시계방향 수치입력 */
    border-radius: 90px 90px 30px 30px;
}
/* 눈공통 */
.eye{
    position: absolute;
    /* 부모는? .head */
    top: 50px;
    /* 크기공통 */
    width: 50px;
    height: 50px;
    /* 배경공통 */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #fff;

    /* 둥근눈 */
    border-radius: 50%;
    /* 이중테두리 */
    border: 4px double #000;
}
/* 왼눈 */
.eye1{
    left: 50px;
    background-image: url(../images/e1.jpg);
}
/* 오른눈 */
.eye2{
    right: 50px;
    background-image: url(../images/e2.jpg);
}

/* 코 */
.nose{
    position: absolute;
    top: 101px;
    left: 101px;
    width: 50px;
    height: 70px;
    background: url(../images/nose.jpg) no-repeat -7px/cover;
    border-radius: 20px;
}
/* 입 */
.mouth{
    position: absolute;
    top: 184px;
    left: 70px;
    width: 112px;
    height: 48px;
    background: url(../images/mouth.png) no-repeat 0/100% 100%;
}

/* 귀공통 */
.ear{
    position: absolute;
    top: 70px;
    width: 58px;
    height: 90px;
}
/* 왼귀 */
.ear1{
    left: -58px;
    /* 라운드처리 */
    border-radius: 20px 0 0 20px;
}
/* 오른귀 */
.ear2{
    right: -58px;
    /* 라운드 처리 */
    border-radius: 0 20px 20px 0;
}

/* 2-1-2.몸통 */
.body{
    position: relative;
    /* 부모자격 - 하위직계 자식 div들 */
    width: 220px;
    height: 400px;
    /* 마.영.오! */
    margin: 0 auto;
    margin-top: 50px;
    /* 배경이미지 조정 */
    background-repeat: repeat;
    background-size: 50%;
}
/* 목 */
.neck{
    position: absolute;
    top: -50px;
    left: calc(50% - 50px/2);
    /* 
        [ 가로/세로 중앙보내기 계산법 ]
        top : calc(50% - 크기/2)
        left : calc(50% - 크기/2)
        -> 크기는 left일 경우 width이고
        top일 경우 height값이다!
    */
    width: 50px;
    height: 50px;
}

/* 팔공통 */
.arm{
    position: absolute;
    top: 0;
    /* 부모는? .body */
    width: 50px;
    height: 180px;
}
/* 팔하단공통 */
.arm span{
    position: absolute;
    /* 부모는? .arm */
    top: 100%;
    left: 10%;
    width: 80%;
    height: 80%;
}
/* 팔하단 가상요소 손만들기 공통 */
.arm span::after{
    content: '';
    position: absolute;
    /* 부모는? span */
    top: 100%;
    width: 80px;
    height: 110px;
    outline: 2px dotted lime;
    /* 배경공통 */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/* 왼손 */
.arm1 span::after{
    /* 배경이미지경로 */
    background-image: 
    url(../images/hand_left.png);
    /* left위치값 */
}
/* 오른손 */
.arm2 span::after{

}

/* 왼팔 */
.arm1{
    left: -50px;
}
/* 오른팔 */
.arm2{
    right: -50px;
}

/* 다리공통 */
.leg{
    position: absolute;
    top: 100%;
    /* 부모는? .body */
    width: 70px;
    height: 200px;
}
/* 다리하단공통 */
.leg span{
    position: absolute;
    /* 부모는? .leg */
    top: 100%;
    left: 10%;
    width: 80%;
    height: 80%;
}
/* 왼다리 */
.leg1{
    left: 0px;
}
/* 오른다리 */
.leg2{
    right: 0px;
}

/* 어깨공통 */
.shdr{
    position: absolute;
    width: 70px;
    height: 70px;
}
/* 왼어깨 */
.shdr1{
    left: -70px;
    /* 둥근모서리 */
    border-radius: 30px 0 0 30px;
}
/* 오른어깨 */
.shdr2{
    right: -70px;
    /* 둥근모서리 */
    border-radius: 0 30px 30px 0;
}
/* TV */
.tv{
    position: absolute;
    top: 22px;
    left: 22px;
    width: 178px;
    height: 136px;
    background: url(../images/tv.jpg) no-repeat 0/100% 100%;
}
/* 스크린 */
.screen{
    position: absolute;
    /* 부모는? .tv */
    top: 16px;
    left: 10px;
    width: 122px;
    height: 90px;
    /* border: 2px dashed blue; */
    border-radius: 10px;
    /* 자식유튜브 아이프레임 넘치는부분 숨기기 */
    overflow: hidden;
}
/* 유튭 아이프레임 */
.screen iframe{
    position: absolute;
    /* 부모는? .screen */
    top: -5px;
    left: -29px;
    width: 182px;
    height: 101px;
}


/**************** 3.하단영역 ****************/


