@charset "utf-8";

/* Robot PJ 메인 CSS - robot.css */

/* 웹폰트 CDN */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Black+Ops+One&family=Chakra+Petch&family=Orbitron:wght@500&display=swap');

/* 
    font-family: 'Barlow', sans-serif;
    font-family: 'Black Ops One', cursive;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Orbitron', sans-serif;
*/


/* 초기화 : 마진0,패딩0 */
html,body,h1,h2,h3,ul,ol{
    margin: 0;
    padding: 0;
}
/* 전체 배경이미지 */
body{
    background: url(../images/bg.jpg) no-repeat fixed top/cover;
}
