@charset "utf-8";

/* Robot PJ 메인 CSS - robot.css */

/* 웹폰트 CDN */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Black+Ops+One&family=Chakra+Petch&family=Orbitron:wght@500&display=swap');

/* 
    font-family: 'Barlow', sans-serif;
    font-family: 'Black Ops One', cursive;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Orbitron', sans-serif;
*/
