@charset "utf-8";
/* CGV PJ 메인 페이지 CSS - main.css */

/*********** 1. 웹폰트 : CDN ***********/
/* Cute Font, Jua, Audiowide 체 */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cute+Font&family=Jua&display=swap');
/* 
    font-family: 'Audiowide', cursive;
    font-family: 'Cute Font', cursive;
    font-family: 'Jua', sans-serif;
*/
/* 리셋CSS 불러오기 */
@import url(./reset.css);

body{
    background-color: #000;
}

/* 공사중 표시 */
body * {
    /* outline: 2px dashed yellow; */
    /* outline: 두 종 색; */
}
/* 공통 클래스 */
/* 파트공통 */
.part{
    width: 1200px;
    /* 중앙정렬 마.영.오! */
    margin: 0 auto;
}

/************ 1. 상단영역 ************/
.top-area{
    position: relative;
    /* 부모자격 - .gnb */
    height: 80px;
    /* 배경이미지 */
    background: url(../images/curtain.jpg) repeat-x;
}
/* 1-1.타이틀 */
.tit{
    font-family: 'Jua', sans-serif;
    font-size: 40px;
    color: aquamarine;
    line-height: 80px;
    text-align: center;
    /* 글자 글로우 효과 */
    text-shadow: 0 0 4px aquamarine;
    /* 애니메이션 */
    animation: tit-ani .5s ease-in infinite alternate;
}
/* 타이틀 애니 키프레임 */
@keyframes tit-ani {
    to{
        text-shadow: 0 0 12px aquamarine;
    }
}
/* 1-2. GNB메뉴 */
.gnb{
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 999;
}
.gnb ul{
    /* 플렉스박스 */
    display: flex;
    gap: 0 1.5rem;
    font-family: 'Jua', sans-serif;
    font-size: 2rem;
}
/* 상위li */
.gnb>ul>li{
    position: relative;
    /* 부모자격 - .smenu */
    padding-bottom: 10px;
    /* 하위메뉴와 연결되게 함!
    오버 이벤트가 끊어지지 않게함 */
}
/* 서브메뉴 */
.smenu{
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    width: 147px;
    /* outline: 2px solid yellow; */
    /* box-shadow: 0 0 5px #fff; */
    /* 모든 외곽선에 그림자(글로우)효과를 주려면 filter 드랍쉐도우를 사용함! */
    filter: drop-shadow(0 0 5px #fff);
    border-radius: 5px;
    font-size: 1.7rem;
    line-height: 1.6;
    padding: 3px;
    background: url(../images/bg_smenu.png) no-repeat center/cover;
    /* 처음에 안보임 */
    display: none;
}
/* 상위메뉴 오버시 서브보이기 */
.gnb ul>li:hover .smenu{
    display: block;
}
/* 가상요소로 삼각형 만들기 */
.smenu::before{
    content: '';
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 15px;
    background-color: #303030;
    /* 클립패쓰로 자르기 */
    clip-path: polygon(0 100%, 50% 0,100% 100%);
}
/* 서브메뉴 ol */
.smenu ol{
    border: 1px solid #ccc;
    padding: 10px;
    white-space: nowrap;
}
/* 사이구분선 클래스 */
.bd-top{
    border-top: 1px solid #ccc;
}
/* 서브메뉴 오버시 글자색 */
.smenu li:hover a{
    color: red;
}
/* 서브메뉴 오버시 아이콘 */
.smenu li:hover a::after{
    content: '🧛‍♂️';
    /* 오른쪽 끝에 위치 */
    float: right;
}
/* 예매 */
.gnb ul>li:nth-child(2) 
.smenu li:hover a::after{
    content: '🍋';
}
/* 극장 */
.gnb ul>li:nth-child(3) 
.smenu li:hover a::after{
    content: '🌞';
}
/* 이벤트&컬처 */
.gnb ul>li:nth-child(4) 
.smenu li:hover a::after{
    content: '📣';
}
/* 영사기 박스 */
.cam{
    position: absolute;
    top: -10px;
    right: -65px;
}
.cam img{
    width: 50px;
}
/* 빔박스 */
.beam{
    position: absolute;
    top: 1px;
    right: 1px;
    width: 200px;
    height: 70px;
    outline: 2px dashed yellow;
    background: url(../images/bim.png) no-repeat right/auto 100%;
}

/************ 2. 메인영역 ************/
.main-area{
    position: relative;
    /* 부모자격 - .screen */
    height: 788px;
    /* 극장이미지 배경 */
    background: url(../images/bg.jpg) no-repeat;
}
/* 2-1.스크린 */
.screen{
    position: absolute;
    /* 부모는? .main-area */
    top: 136px;
    left: 257px;
    width: 701px;
    height: 397px;
    background-color: #000;
}
/* 유튜브 아이프레임 */
.screen iframe#ifr{
    width: 100%;
    height: 100%;
    /* 기본 프레임보더 없앰 */
    border: none;
}
/* 2-2.포스터 메뉴 */
.poster-menu{
    position: absolute;
    width: 65%;
    bottom: 5%;
    left: 50%;
    /* 가로방향 중앙이동 */
    transform: translateX(-50%);
    /* 부모는? .main-area */
    /* 한번에 메인영역 하단으로
    위치이동 포지셔닝을 하기위한
    최적의 포지션은 absolute다! */
}
/* 포스터 ul 가상요소 clear */
/* .poster-menu ul::after{
    content: '';
    display: block;
    clear: both;
}
 */
/* 포스터 리스트 */
.poster-menu ul{
    /* 플렉스박스 */
    display: flex;
    /* 하위 요소 사이간격 */
    gap: 0 15px;
}
/* 상위 ul>li 리스트 */
.poster-menu>ul>li{
    position: relative;
    /* 부모자격 - 영화정보박스 */
    overflow: hidden;
    /* 자식요소인 영화정보박스 숨기기 */
}

/* 포스터 이미지 */
.poster-menu img{
    width: 100%;
    /* height: 170px; */
}
/* 영화정보박스 : 오버시 올라올 박스 */
.mv-info{
    position: absolute;
    top: 100%;/* 아랫쪽에 나가있음 */
    /* 부모는? .poster-menu>ul>li */
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    /* 트랜지션 */
    transition: .3s ease-in-out;
}
/* 부모li에 오버시 영화정보 박스 올라오기 */
.poster-menu>ul>li:hover .mv-info{
    top: 0;
}
/* 영화정보박스 하위 ol */
.mv-info ol{
    /* 플렉스 박스
    -> 옆으로 흘러가지 않아도
    구성요소의 흐름을 제어할목적으로 줌! */
    display: flex;
    /* 플렉스 진행방향 */
    flex-direction: column;
    /* 진행방향 정렬 */
    justify-content: center;
    /* 부모박스 채우기 */
    height: 100%;
    /* 줄바꿈 방지 */
    white-space: nowrap;
    /* 글자크기 */
    font-size: 12px;
    /* 줄간격 */
    line-height: 2.5;
    /* 반투명배경 */
    background-color: #00000096;
}

/************ 3. 하단영역 ************/
.footer-area{
    height: 100px;
}