@charset "utf-8";
/* CGV PJ 메인 페이지 CSS - main.css */

/*********** 1. 웹폰트 : CDN ***********/
/* Cute Font, Jua, Audiowide 체 */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cute+Font&family=Jua&display=swap');
/* 
    font-family: 'Audiowide', cursive;
    font-family: 'Cute Font', cursive;
    font-family: 'Jua', sans-serif;
*/

/* 초기화 */
html,body,h1,h2,ul,ol{
    margin: 0;
    padding: 0;
}
/* 리스트 초기화 */
ul,ol{
    /* 블릿,숫자 없앰 : lin */
    list-style: none;
}
body{
    background-color: #000;
}

/* 공사중 표시 */
body * {
    outline: 2px dashed yellow;
    /* outline: 두 종 색; */
}
/* 공통 클래스 */
/* 파트공통 */
.part{
    width: 1200px;
    /* 중앙정렬 마.영.오! */
    margin: 0 auto;
}

/************ 1. 상단영역 ************/
.top-area{
    height: 80px;
    /* 배경이미지 */
    background: url(../images/curtain.jpg) repeat-x;
}
/* 1-1.타이틀 */
.tit{
    font-family: 'Jua', sans-serif;
    font-size: 40px;
    color: aquamarine;
    line-height: 80px;
    text-align: center;
}
/************ 2. 메인영역 ************/
.main-area{
    position: relative;
    /* 부모자격 - .screen */
    height: 788px;
    /* 극장이미지 배경 */
    background: url(../images/bg.jpg) no-repeat;
}
/* 2-1.스크린 */
.screen{
    position: absolute;
    /* 부모는? .main-area */
    top: 136px;
    left: 257px;
    width: 701px;
    height: 397px;
    background-color: #000;
}
/* 유튜브 아이프레임 */
.screen iframe#ifr{
    width: 100%;
    height: 100%;
    /* 기본 프레임보더 없앰 */
    border: none;
}
/* 2-2.포스터 메뉴 */
.poster-menu{
    position: absolute;
    bottom: 50px;
    left: 215px;
    /* 부모는? .main-area */
    /* 한번에 메인영역 하단으로
    위치이동 포지셔닝을 하기위한
    최적의 포지션은 absolute다! */
}
/* 포스터 ul 가상요소 clear */
.poster-menu ul::after{
    content: '';
    display: block;
    clear: both;
}
/* 포스터 리스트 */
.poster-menu ul{
    /* 플렉스박스 */
    display: flex;
    /* 하위 요소 사이간격 */
    gap: 0 15px;
}
/* li리스트 사이간격 */
/* .poster-menu li+li{
    margin-left: 15px;
} */

/* 포스터 이미지 */
.poster-menu img{
    height: 170px;
}
/* 영화정보박스 : 오버시 올라올 박스 */
.mv-info{
    position: absolute;
    color: #fff;
}
/************ 3. 하단영역 ************/
.footer-area{
    height: 100px;
}