/* 보그 PJ 공통 CSS - common.css */
/* 상단, 하단 공통 모듈 CSS */

/****************** 1.상단영역 ******************/
.top-area{
    /* 최소높이 */
    min-height: 206px;
}

/****************** 2.메인영역 ******************/
.main-area{
    /* 최소높이 : 컨텐츠가 작을 경우대비 */
    min-height: 600px;
}

/****************** 3.하단영역 ******************/
.footer-area{
    /* 최소높이 */
    min-height: 285px;
}
