@charset "utf-8";
/* 인트로 사이트 메인 CSS - main.css */

/* 스크롤 애니메이션 셋팅 */
html{
    scroll-behavior: smooth;
    /* html 즉, Root에 부드러운 스크롤 설정을 하면
    이동시 스크롤 애니메이션이 연출된다! */
}

/* 마진,패딩 초기화 */
html,body,h1,h2,h3,p{
    margin: 0;
    padding: 0;    
}

html,body,.page{
    /* 높이값 보이는 화면 기준 채우기 */
    height: 100%;
}

body{
    background: 
    url(../images/worksbg.jpg) no-repeat fixed center/cover;

    /* background-image: 
    linear-gradient(to bottom,rgb(205, 255, 227),rgb(247, 206, 255)); */
    /* 
        [ 선형 그라데이션 ]
        background-image: 
        linear-gradient(방향,색1,색2,색3,...)
        - 방향: 
        to top, to left, to right, to bottom
    */
}

/* 메뉴박스 */
.menu{
    width: 700px;
    margin: 0 auto;
    background-color: rgba(135, 206, 250, 0.696);
    padding: 15px;
}
/* 메뉴 하위 h1,h2 옆으로 흐르게 display변경하기 */
.menu>*{
    display: inline-block;
}

/* 컨텐츠박스 */
.link-box{
    border: 2px dashed darkblue;
    border-radius: 20px;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #ffffff6e;
}
