@charset "utf-8";
/* 큐브 애니메이션 CSS - cube.css */

html,body{
    margin: 0;
    padding: 0;
}
body{
    background-image: 
    linear-gradient(to bottom,#a4ffdc,rgb(255, 190, 247));
    height: 100vh;
}