@charset "utf-8";
/* Open Door CSS - opendoor.css */

/* 웹폰트 */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");
/* font-family: 'Comfortaa', cursive; */

/* 초기화 */
html,body,h1{
    margin: 0;
    padding: 0;
}

/* 공사중 표시 */
/* body * {
    outline: 2px dashed red;
} */

body{
    height: 100vh;
    overflow: hidden;
    background-color: #9c0;
}

/* 전체 타이틀 */
.tit{
    /* height: 50px;
    -> auto로 유동적인 글자크기만큼만
    사이즈 주지 말자! */
    font-family: 'Comfortaa', cursive;
    /* 최대글자크기 지정 */
    font-size: min(5vw,42px);
    margin: 5vh 0;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 2px #222;
    overflow: hidden;
}

/* 전체 랩핑박스 */
.wrap{
    padding: 50px 0;
}
/* 전체 문부모 */
.cont{
    width: 400px;
    height: 600px;
    margin: 0 auto;  
    background-color: #900;  
}
/* 문프레임 */
.frame{
    position: relative;
    top: 18px;
    width: 350px;
    height: 580px;
    margin: 0 auto;

    background: url(../images/seashore.jpg) no-repeat center/auto 100%;

    /*********************************** 
        [ 3D 원근설정 ]
        1. 셋팅위치:
        3D원근 설정을 할 대상의 부모요소
        2. 설정방법:
        perspective: 수치
        -> 수치는 px단위 또는 구체적인
        상대단위(em,rem,vw,vh등)로 설정.
        -> 기준축으로 부터 소실점까지의 거리
        -> 이값이 커지면 원근각도가 완만해짐
    ***********************************/
    perspective: 1000px;
}
/* 문짝 */
.door{
    position: relative;
    width: 350px;
    height: 580px;
    background-color: #c90;
    /* 엘사보다위 */
    z-index: 1;

    /* Y축 회전 */
    transform: rotateY(0deg);

    /* 회전축 왼쪽으로 변경 */
    transform-origin: left;

    /* 애니메이션 */
    animation: 
    /* 처음에 1초간 바깥쪽으로 열기(끝상태유지) */
    first-open-ani 1s ease-in-out forwards,
    /* 1초간 열기까지 기다렸다가 영원히 여닫기 */
    open-door-ani 2s ease-in-out 1s infinite alternate;

    /* 처음에 멈춤상태로 애니메이션 셋팅 */
    animation-play-state: paused;
}
/* .cont에 마우스 오버시 문여닫기 애니작동 */
.cont:hover .door{
    animation-play-state: running;
}

/* 처음 문열기 키프레임 */
@keyframes first-open-ani {
    100%{
        transform: rotateY(50deg);
    }
}

/* 문여닫기 키프레임 */
@keyframes open-door-ani {
    0%{
        transform: rotateY(50deg);
    }
    100%{
        transform: rotateY(-50deg);
    }
}



/* 손잡이 */
.handle{
    position: absolute;
    top: calc(50% - 50px/2);
    right: 2%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: blue;
}


/* 엘사박스 */
#elsa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* 엘사 이미지 */
#elsa img.elsa{
    margin-top: 110px;
    margin-left: 331px;
    /* 엘사회전축 하단으로 변경 */
    transform-origin: bottom;
    transform: rotate(0deg);

    /* 애니메이션 */
    animation: 
    elsa-ani 1s ease-in-out infinite alternate;
    /* 애니 멈춤상태 */
    animation-play-state: paused;
}
/* 오버시 애니작동 */
.cont:hover #elsa img.elsa{
    animation-play-state: running;
}

/* 엘사 애니 키프레임 */
@keyframes elsa-ani {
    to{
        transform: rotate(-10deg);
    }
}

/* 올라프 이미지 */
#elsa img.olaf{
    position: absolute;
    top: 50%;
    left: 60%;
    height: 40%;
    z-index: -1;

    /* 애니메이션 */
    animation: 
    olaf-ani 3s ease-in-out infinite alternate;
    /* 애니 멈춤상태 */
    animation-play-state: paused;
}
/* 오버시 애니작동 */
.cont:hover #elsa img.olaf{
    animation-play-state: running;
}

/* 올라프 애니 키프레임 */
@keyframes olaf-ani {
    from{
        top: -50%;
        transform: scale(.1);
    }
    to{
        top: 50%;
        transform: scale(1);
    }
}




