@charset "utf-8";
/* 네비 유형6 시코르 상단공통 CSS - common.css */

/* 웹폰트 CDN */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Noto+Sans+KR&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */

body{
    background-image: linear-gradient(to bottom,lightcoral,lightgreen);
    height: 100vh;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 속박스 */
.ibx{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    /* outline: 2px dashed yellow; */
}

/* 1.상단영역 */
#top-area{
    background-color: #000;
}
/* 상단속박스 */
.top-area{
    /* position: relative; */
    /* 부모자격 - .smenu */
}
/* 탑메뉴박스 */
.top-menu{
    padding-top: 28px;
}
/* 로고박스 */
.logo-box{
    text-align: center;
}
/********* GNB박스 *********/
.gnb ul {
    display: flex;
    gap: 0 20px;
    line-height: 60px;
}

/* gnb공통 a */
.gnb>ul>li>a{
    color: #fff;
}
/* 서브메뉴 박스 : 100%차지 서브영역 */
.smenu{
    position: absolute;
    z-index: 999;
    left: 0;
    width: 100%;
    /* 숨김박스 */ 
    height: 0;
    overflow: hidden;
    background-color: #fff;

    /* 트랜지션 */
    transition: .4s ease-in-out;
}
/* -> 동적 높이값은 JS로 함!(+이벤트)
.gnb>ul>li:hover .smenu{
    height: 300px;
} */
/* 임시 첫번째 */
/* .gnb>ul:first-child .smenu{
    display: block;
} */
/* 서브 첫타이틀 */
.stit{
    font-size: 30px;
}
/* 서브 내부 랩핑박스 : 최대1200px 중앙박스 */
.smbx{
    display: flex;
    gap: 0 70px;
    max-width: 1200px;
    margin: 0 auto;
}
/* 서브 2차 타이틀박스 */
.smbx h2{
    width: 200px;
    padding-right: 20px;
    border-right: 1px solid #ccc;
}
/* 서브 메뉴 dl랩핑박스 */
.swrap{
    display: flex;
    flex-wrap: wrap;
    /* 랩핑 플렉스박스 */
}
/* 서브 dl */
.swrap dl{
    width: 180px;
    padding-bottom: 30px;
}
/* 2차메뉴 : dt */
.swrap dt{
    font-size: 20px;
}
/* 3차메뉴 : dd */
.swrap dd{
    font-size: 14px;
    line-height: 2;
}
