@charset "utf-8";

/* 네비게이션 유형1 CSS - nav01.css */

/* 12그리드 불러오기 */
@import url(./grid_12_float.css);

html,
body,
h1 {
    margin: 0;
    padding: 0;
}
h1.tit {
    text-align: center;
    padding: 20px;
}

/* 전체 body */
body{
    color: #fff;
    background: #0a134d url(../images/nav1bg.png) no-repeat fixed center/cover;
}
/* ul,ol 초기화 : 3無 */
ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
/* a요소공통 */
a{
    color: #fff;
    text-decoration: none;
}
/* 공통클래스 : 클리어설정 */
ul::after,ol::after,.clb::after{
    content: '';
    display: block;
    clear: both;
}
/* 중앙속박스 */
.inbox{
    max-width: 1650px;
    margin: 0 auto;
    outline: 2px dashed lime;
}

/* 로고박스 */
.logo{    
    padding: 13px 0;
}

/* GNB 메뉴 */
.gnb{
    margin-left: 63px;
}
/* 상위메뉴만 적용하기 
직계자식(>)선택으로 상위메뉴만 선택함 */
.gnb ul > li{
    position: relative;
    /* 부모자격 - .smenu의 left값 */
    float: left;
    padding: 0 32px;
    line-height: 78px;
    font-weight: bold;
    /* 글자관련셋팅은
    하위요소로 모두 상속됨! */
}
/* 서브메뉴 */
.smenu{
    position: absolute;
    left: 50%;
    /* x축 중앙이동 */
    transform: translateX(-50%);

    width: 200px;
    background-color: pink;
    border-radius: 10px;
    text-align: center;
    line-height: 38px;
    /* 패딩이 있으면 높이값0
    숨기기가 안됨! 그래서
    하위 요소인 ol태그에 패딩줌 */
    /* padding: 10px; */

    /* 숨기기장치 */
    height: 0;
    overflow: hidden;

    /* 트랜지션 */
    transition: height .4s;
}
/* 상위li오버시 서브메뉴 보이기 */
.gnb ul>li:hover .smenu{
    height: 210px;
}
.smenu ol{
    padding: 10px;
}



/* 메인영역 */
.main-area {
    max-width: 1000px;
    min-height: 600px;
    line-height: 600px;
    text-align: center;
    font-size: 2.5vw;
    border: 10px dashed lightgreen;
    margin: 100px auto;
}
